.dialogContainerYesOrNot{
    background: #fff;
    width: 25%;
    height: 15%;
    margin: auto;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.yesButton{
    margin: 10px;
    border: none;
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
}

.noButton{
    margin: 10px;
    border: none;
    background: #f44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
}

.textTitle{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}